body {
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}
body > * {
    flex-grow: 1;
}

header {
    margin: 0;
    border-bottom: 2px solid black;
    
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    padding: 15px;
    margin: 0;
}
 main {
    margin: 25px;
    padding: 20px;
}
h1 {
    margin: 30px;
 
    
}