body {
    background-color: #EEEEEE;

    box-sizing: border-box;
    line-height: 1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body ul li {
    padding: 16px;
    margin: 16px;
    border: 5px solid black;
    background-color: wheat;
    list-style: none;

}

img {
    max-width: 100%;
   
   align-self: center;

}